<!-- header.html.erb -->
<div class="d-flex align-items-center banner p-3">
    <div id="hamburger-btn" class="m-2">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </div>
    <h1 class="m-auto">Kotzebue Electric Association</h1>
</div>

