<!-- header.html.erb -->
<div class="d-flex justify-content-center align-items-center banner p-3">
    <div id="hamburger-btn" onclick="slideMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1>Kotzebue Electric Association</h1>
</div>
