<!-- header.html.erb -->
<div id="hamburger-btn-wrapper" class="d-none d-flex align-items-center position-relative p-4">
    <i id="hamburger-btn" class='bx bx-menu position-absolute start-4 m-0 p-0'></i>
    <div class="text w-100"><%= @page_name %></div>
</div>