<!-- header.html.erb -->
<div class="d-flex align-items-center justify-content-center p-3">
    <div id="hamburger-btn" class="m-3">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </div>
</div>

