<!-- header.html.erb -->
<div class="d-flex align-items-center justify-content-center banner p-3">
    <div id="hamburger-btn" class="m-3 d-none">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </div>
    <h1>Kotzebue Electric Association</h1>
</div>

