<div class="d-flex justify-content-center align-items-center banner p-3">
    <button id="hamburger-btn"><span class="material-symbols-outlined" style="font-size: 36px;"> menu </span></button>
    <h1>Kotzebue Electric Association</h1>
</div>