<div class="navbar-minimize-fixed">
	<button class="minimize-sidebar btn btn-link btn-just-icon">
		<i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
		<i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
	</button>
</div>
<div class="sidebar" data="green">
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="https://www.uaf.edu/acep/" class="simple-text logo-mini">
				<%= image_tag ("ACEP-logo.png") %>
			</a>
			<a href="https://www.uaf.edu/acep/" class="simple-text logo-normal">
			ACEP

			</a>
		</div>
		<!-- Not working properly, TO DO: April 17,23-->

		<ul class="nav">
			<li class="active">
				<a href="<%= root_path %>">
					<i class="tim-icons icon-chart-pie-36"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li>
				<a href="<%= main_about_path %>">
					<i class="tim-icons icon-badge"></i>
					<p>About Us</p>
				</a>
			</li>
		</ul>
		
	</div>
</div>
