<nav class="h-100">
    <div id="sidebar-column" class="p-3 justify-content-center text-bg-dark h-100">
        
            <a href="https://www.uaf.edu/acep/" class="text-white text-decoration-none img-container">
                <%= image_tag ("ACEP-logo.png"), class: "ACEP-logo-sidebar m-3" %>
            </a>
        <hr>
        <ul class="nav nav-pills flex-column">
            <li class="nav-full">
                <%= link_to root_path, class: "nav-link text-white nav-name d-flex align-items-center #{'active' if current_page?(root_path)}" do %> <span class="material-symbols-outlined me-2"> dashboard </span><div class="nav-name">Dashboard</div><% end %>
            </li>
            <li class="nav-full">
                <%= link_to about_path, class: "nav-link text-white nav-name d-flex align-items-center #{'active' if current_page?(about_path)}" do %><span class="material-symbols-outlined me-2"> group </span><div class="nav-name">About</div><% end %>
            </li>
        </ul>
    </div>
    
</nav>
