<div class="navbar-minimize-fixed">
	<button class="minimize-sidebar btn btn-link btn-just-icon">
		<i class="tim-icons icon-align-center visible-on-sidebar-regular text-muted"></i>
		<i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini text-muted"></i>
	</button>
</div>
<div class="sidebar" data="green">
	<div class="sidebar-wrapper">
		<div class="logo">
			<a href="javascript:void(0)" class="simple-text logo-mini">
				ACEP
			</a>
			<a href="javascript:void(0)" class="simple-text logo-normal">
				Alaska Center for Energy and Power
			</a>
		</div>
		<ul class="nav">
			<li class="active">
				<a href="../examples/dashboard.html">
					<i class="tim-icons icon-chart-pie-36"></i>
					<p>Dashboard</p>
				</a>
			</li>
			<li>
				<a data-toggle="collapse" href="#pagesExamples">
					<i class="tim-icons icon-image-02"></i>
					<p>
						About Us
						<b class="caret"></b>
					</p>
				</a>
				<div class="collapse" id="pagesExamples">
					<ul class="nav">
						<li>
							<a href="javascript:void(0)">
								<span class="sidebar-mini-icon">LS</span>
								<span class="sidebar-normal"> Lock Screen </span>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)">
								<span class="sidebar-mini-icon">UP</span>
								<span class="sidebar-normal"> User Profile </span>
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
