<!--Row 1: Title-->
<div class="row m-0">
	<h1 class="text desktopPageTitle">
		<%= @page_name %>
	</h1>
</div>

<!-- Row 2: Reduce Electricity Usage -->
<div class="row gy-3 m-0 d-flex flex-row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Ways to Decrease your Electricity Usage</h3>
				<div class="row gy-3 m-0">
					<!-- Card 1 -->
					<div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper text-center">
									<i class='bx bx-plug small'></i>
								</div>
								<br>
								<p>Unplug or turn off appliances you don't use often</p>
							</div>
						</div>
					</div>
					<!-- Card 2 -->
					<div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-bulb small'></i>
								</div>
								<br>
								<p>Turn off the lights whenever you leave a room</p>
							</div>
						</div>
					</div>
					<!-- Card 3 -->
                    <div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-power-off small'></i>
								</div>
								<br>
								<p>Don't leave appliances on standby mode</p>
							</div>
						</div>
					</div>
					<!-- Card 4 -->
                    <div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-bulb small'></i>
								</div>
								<br>
								<p>Replace incandescent lightbulbs with energy-saving LEDs</p>
							</div>
						</div>
					</div>
					<!-- Card 5 -->
                    <div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-plug small'></i>
								</div>
								<br>
								<p>Buy smart power bars with power usage timers</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Row 2: End -->

<!-- Row 3: Start -->
<div class="row gy-3 m-0">
	<div class="col">
		<div class="card p-3 h-100">
			<div class="card-body">
				<div class="titleWrapper">
					<i class='bx bx-bookmark big'></i>
					<h3 class="card-title"> Energy and Power</h3>
				</div>
				<br>
				<p>
					<strong>kW</strong> - is a measure of power <br>
					<strong>kWh</strong> - is measure of energy <br>
					<strong>Power</strong> - is the rate at which something uses energy <br>
					<strong>Energy</strong> - is the capacity to do work <br>
					1,000 W = 1 kW
				</p>
				<p>
					“A kilowatt-hour measures the energy an appliance uses in kilowatts per hour. For example, if you clean your floors with a 1,000-watt vacuum cleaner for one hour, you consume 1 kWh of energy.”
				</p>
				<p>
					<strong>Lower watts:</strong> If you are using a 100-watt device, such as a plasma TV, you would have to watch your favorite shows for 10 hours before reaching 1 kWh.
				</p>
				<p>
					<strong>Higher watts:</strong> If you are running a 2,000-watt appliance, such as a clothes dryer, you only need to power it for 30 minutes to reach 1 kWh.
				</p>
			</div>
		</div>
	</div>
	<!-- Card 2 -->
	<div class="col">
		<div class="card p-3 h-100">
			<div class="card-body">
				<div class="titleWrapper">
					<i class='bx bx-calculator big'></i>
					<h3 class="card-title"> How to calculate kWh vs kW?</h3>
				</div>
				<br>
				<p>
					Knowing the difference between kW and kWh can give you powerful insights to help monitor and manage your electricity consumption. 
					To calculate the kWh of your appliance, estimate the amount of time you use it and write down the appliance's wattage (generally found on the label). 
					Remember that one kilowatt equals 1,000 watts, so don't forget to divide your wattage by 1,000 to convert to kilowatts.
				</p>
				<p>
					Let's use a 1500W dishwasher you use for two hours per day as an example for calculating kW and kWh on a monthly basis:
					<br>
					<strong>1. </strong>Divide the wattage by 1,000 to calculate kW: 1500 watts 1,000 = 1.5 kW<br>
					<strong>2. </strong>Multiply the kilowatts by the hours of daily use: 1.5 kW X 2 hours = 3 kWh per day<br>
					<strong>3. </strong>Find the total energy usage for a month (30 days): 3 kWh X 30 days = 90 kWh per month<br><br>
					Now that we know the monthly kWh for this device, let's estimate the energy costs. Multiply the kWh by your electricity provider's monthly electricity rates. For the sake of this example, we'll say it's $.07 per kWh:<br>
					90 kWh X $.07 per kWh = $6.30 per month<br><br>
					Make a list of appliances that you frequently use and do the same calculations. You can then start to balance your usage by examining which appliances require the most power (kW) and energy (kWh).
				</p>
			</div>
		</div>
	</div>
	<!-- Card 4 -->
	<div class="col">
		<div class="card p-3 h-100">
			<div class="card-body">
				<div class="titleWrapper">
					<i class='bx bx-power-off big'></i>
					<h3 class="card-title"> Microgrid</h3>
				</div>
				<br>
				<p>The community of Kotzebue utilizes a microgrid. A microgrid can be thought of as a miniature, 
					local energy system that can operate independently or in conjunction with the main power grid. 
					We could break this down in a simple analogy to make it easier to understand.</p>
				<p><strong>Analogy: </strong>Imagine a small, self-contained village on an island. 
					The village has its own water source, food production, and storage facilities. 
					When everything is functioning well in the village, they are self-sufficient and don't need to rely on external sources. 
					However, if there's a problem, like a drought or if they want to trade, they have a bridge to the mainland where they can access additional resources.
				</p>
				<p><strong>Explanation of analogy:</strong></p>
				<p><strong>The Village (Local Energy System): </strong> This is the microgrid. It consists of energy sources (like solar panels, wind turbines, and batteries) and energy users (homes, businesses, etc.).
					It has its own control system to manage energy production and consumption.
					<br>
					<strong>Self-sufficiency: </strong>The microgrid can produce and store its own energy. If there's plenty of sunlight, for example, solar panels can generate power. 
					If there's excess energy, it can be stored in batteries for use when needed.
					<br>
					<strong>Bridge to the Mainland (Connection to the Main Power Grid): </strong>The microgrid can be connected to the larger, main power grid. 
					If the microgrid needs more power than it can produce or if it generates more power than it needs, it can exchange energy with the main grid.
					<br>
					<strong>Independence: </strong>If there's a problem with the main power grid, like a blackout, the microgrid can "island" itself and operate independently, using its own energy sources. 
					This can be crucial in emergencies or during natural disasters when the main grid might be compromised.
				</p>
				<p>In essence, a microgrid offers flexibility, resilience, and local control over energy. 
					It can be especially useful in remote areas, during emergencies, or for communities aiming to use more renewable sources of energy.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Row 3: End -->
<!-- Row 4: Start -->
<!-- Card: Terminology -->
<div class="row gy-3 m-0 d-flex flex-row">
	<div class="col">
		<div class="card p-3 h-100">
			<div class="card-body">
				<div class="titleWrapper">
					<i class='bx bx-edit big'></i>
					<h3 class="card-title"> Terminology</h3>
				</div>
				<br>
				<p><strong>Microgrid:</strong> is a a group of interconnected loads and distributed energy resources that acts as a single controllable entity with respect to the grid.
				</p>
				<p><strong>Renewable energy sources:</strong> are forms of energy derived from natural processes that are continuously replenished, such as sunlight, wind, rain, tides, and geothermal heat. 
					Unlike fossil fuels, they do not deplete over time and have minimal impact on the environment when harnessed correctly.
				</p>
				<p><strong>Electric Power: </strong>the rate at which electrical energy is transferred by an electric circuit. Measured in Watts (W).
				</p>
				<p><strong>Electric Energy: </strong>the energy which is caused by the movement of the electrons from one place to another. Measured in Watts an hour (Wh)
				</p>
			</div>
		</div>
	</div>
</div>
<!-- Row 4: End -->