<!--Row 1: Title-->
<div class="row m-0">
	<h1 class="text desktopPageTitle">
		<%= @page_name %>
	</h1>
</div>

<!-- Row 2: Reduce Electricity Usage -->
<div class="row gy-3 m-0 d-flex flex-row">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h3 class="card-title">Ways to Decrease your Electricity Usage</h3>
				<div class="row gy-3 m-0">
					<!-- Card 1 -->
					<div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper text-center">
									<i class='bx bx-plug small'></i>
								</div>
								<br>
								<p>Unplug or turn off appliances you don't use often</p>
							</div>
						</div>
					</div>
					<!-- Card 2 -->
					<div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-bulb small'></i>
								</div>
								<br>
								<p>Turn off the lights whenever you leave a room</p>
							</div>
						</div>
					</div>
					<!-- Card 3 -->
                    <div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-power-off small'></i>
								</div>
								<br>
								<p>Don't leave appliances on standby mode</p>
							</div>
						</div>
					</div>
					<!-- Card 4 -->
                    <div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-bulb small'></i>
								</div>
								<br>
								<p>Replace incandescent lightbulbs with energy-saving LEDs</p>
							</div>
						</div>
					</div>
					<!-- Card 5 -->
                    <div class="col">
						<div class="card p-3 h-100 decrease-elec-card">
							<div class="card-body">
								<div class="titleWrapper">
									<i class='bx bx-plug small'></i>
								</div>
								<br>
								<p>Buy smart power bars with power usage timers</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>