<%= turbo_frame_tag "modal" do %>
  <div class="modalformat"> 
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"> Battery Information</h1>
        <h5>
          <%= button_to "", "#", data: {
              controller: "modals",
              action: "modals#close"
            }, class: "btn-close" %> 
        </h5>
      </div>
      <div class="modal-body">  
        Kotzebue produces energy from diesel, wind, and solar. The amount of energy
        produced by the renewables, wind and solar, depends on the wind speed and
        how sunny it is. This means that there is sometimes excess energy
        production, which gets stored in a <strong>lithium-ion battery </strong>. <br>
        <br> This figure shows how much the battery is currently charged and if it
        is charging or discharging.
        <br>
        <br>
        <h5>Terminology</h5>
        <strong>Lithium-ion battery</strong>: A type of rechargeable battery that 
        uses lithium ions to move between the positive and negative electrodes during 
        charge and discharge cycles. 
      </div>
      <br>
      <div class="modal-footer">            
        <%= link_to "Cancel", "#", data: {
          controller: "modals",
          action: "modals#close"
        }, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>