<%= turbo_frame_tag "modal" do %>
  <div class="modalformat">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Electricity Generation</h1> 
        <h5>
          <%= button_to "", "#", data: {
              controller: "modals",
              action: "modals#close"
            }, class: "btn-close" %> 
        </h5>
      </div>
      <br>
      <div class="modal-body">
        Kotzebue Electric Association (KEA) currently produces power from diesel,
        solar, and wind power—the excess energy gets stored in a <strong>lithium-ion
        battery</strong>. Currently, 25% of the energy usage in Kotzebue is produced by
        <strong>renewable energy</strong> sources, and KEA has a goal of increasing this to 50%
        within the next five years. <br>
        <br>
        <strong>Wind Power</strong><br> KEA started generating wind power in 1997,
        using the first generation “utility-scale” wind turbines.
        <br>
        <br>
        <h5>Terminology</h5>
        <strong>Lithium-ion battery</strong>: A type of rechargeable battery that 
        uses lithium ions to move between the positive and negative electrodes during 
        charge and discharge cycles. 
        <br>
        <strong>Renewable energy</strong>: refers to energy derived from naturally replenished 
        sources, such as sunlight, wind, and water, that have minimal environmental impact and 
        are sustainable for the long term.
      </div>
      <br>
      <div class="modal-footer">
        <%= link_to "Cancel", "#", data: {
          controller: "modals",
          action: "modals#close"
        }, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>