/* Stylesheet for Electricity Generation Breakdown */

.wind{
    background-color: rgba(0, 149, 255, 0.7);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.solar{
    background-color: rgba(253, 217, 13, 0.7);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.diesel{
    background-color: rgba(139, 127, 0, 0.7);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

