/* Stylesheet for Community Usage Feature */

#heatmap_Legend_Label0{
    font-family: "Poppins"
}

#heatmap_Legend_Label1{
    font-family: "Poppins"
}

#heatmap_Legend_Label2{
    font-family: "Poppins"
}

#heatmap_Legend_Label3{
    font-family: "Poppins"
}

#heatmap_Legend_Label4{
    font-family: "Poppins"
}