/* Stylesheet for Entire Dashboard */
/* */
/* */
/*  */
/* Fonts */

/* Card Styles */

.banner{
    background-color: white;
    border-bottom: 1px black solid;

}
.content-container{
    min-height: 100vh;
}

#windy{
    height: 300px;
}

.overview-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



.ACEP-logo-sidebar{
	width: 60%;
	height: auto;
}

.img-container{
	display: flex;
	justify-content: center;
	align-items: center;
}


.bi {
	vertical-align: -0.125em;
	fill: currentColor;
}




/* Sidebar */

@media (max-width: 431px){
    .sidebar{
        display: none;
    }
}

@media (min-width: 431px){
    #hamburger-btn{
        display: none;
    }
}

@media (min-width: 1025px) {
  .nav-icon {
    display: none;
  }
}

@media (max-width: 500px){
  li{
    width: auto;
  }
}

@media (max-width: 1024px) {
  .nav-full {
    display: none;
  }
  .material-symbols-outlined{
    font-size: 36px;
  }
}

.nav-full:hover,
.nav-icon:hover {
  background-color: lightgray; /* Change to the desired color for the hover effect */
  border-radius: 0.375rem;
}


.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10000;
  cursor: pointer;
}

.navigation__icon {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: transform 0.3s ease-in-out;
}

.navigation__items {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  margin-bottom: 20px;
}

.navigation__item a {
  color: #333;
  text-decoration: none;
}

.navigation__checkbox:checked ~ .navigation__items {
  transform: translateX(0);
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(45deg) translate(-2px, -2px);
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  transform: rotate(-45deg) translate(-2px, 2px);
}
