/* Stylesheet for Entire Dashboard */
/* */
/* */
/* */
/* */

/* Card Styles */

.banner{
    background-color: lightgrey;
}


#windy{
    height: 300px;

}

.overview-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }