/* Stylesheet for Entire Dashboard */
/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	/* ===== Colors ===== */
	--body-color: #f5f6fa;
	--sidebar-color: #fff;
	--primary-color: #00a1e4;
	--primary-color-light: #c4edff;
	--toggle-color: #ddd;
	--text-color: #585858;

	/* ====== Transition ====== */
	--tran-02: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;

	/* ===== Battery ===== */
	--red: #ff0000;
	--orange: #ff9100;
	--yellow: #fff200;
	--yellow-green: #d7fc03;
	--green: #33b864;
	--black: #000000;
	--gray: #9e9e9e;
	--white: #ffffff;
}

body {
	background-color: var(--body-color);
	transition: var(--tran-05);
}

::selection {
	background-color: var(--primary-color);
	color: #fff;
}

body.dark {
	--body-color: #18191a;
	--sidebar-color: #242526;
	--primary-color: #3a3b3c;
	--primary-color-light: #3a3b3c;
	--toggle-color: #fff;
	--text-color: #ccc;
}


#content-div {
	min-height: 100vh;
}

/* Mobile Nav */
.banner {
	background-color: white;
	display: flex;
	position: relative;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
	margin-left: 0px;
	margin-right: 0px;
	min-width: 100%;
}

#hamburger-btn-wrapper {
	min-width: 100vw;
	background-color: var(--sidebar-color);
	border-bottom: 1px solid var(--text-color);
}

#hamburger-btn {
	cursor: pointer;
}

.mobile-home {
	width: 100%;
	left: 0;
}

#slide-menu {
	position: fixed;
	left: 0%;
	width: 100%;
	height: auto;
	list-style-type: none;
	background-color: var(--sidebar-color);
	transition: left 0.3s;
	z-index: 999;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
	border-bottom: 0;
}

#slide-menu.close {
	position: fixed;
	left: -110%;
	width: 100%;
	height: auto;
	list-style-type: none;
	background-color: var(--sidebar-color);
	transition: left 0.3s;
	z-index: 999;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
	border-bottom: 0;
}


.title-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.title-wrapper>i {
	margin-right: 5px;
}


strong>p {
	margin-bottom: 0;
}

h5 {
	font-weight: 700;
}

/* Icon Sizes */
i.large {
	font-size: 30px;
}

i.small {
	font-size: 24px;
}

i.up {
	color: rgb(13, 161, 13);
	font-size: 45px;
}

i.down {
	color: rgb(246, 31, 31);
	font-size: 45px;
}

/* Weather Feature */

#weatherDescWrapper {
	border-left: 2px #eb6e4b solid;
}

#weatherDescWrapper>p {
	margin-bottom: 0;
}

/* Map */
#map {
	height: 90%;
	width: 100%;
	z-index: 0;
}


/* Diesel Savings Feature */

.savings-chart-wrapper {
	min-width: 300px;
	min-height: 300px;
}

.date-picker {
	max-width: 175px;
}