body{
    font-family: "Poppins"
}
.Wind{
    background-color: rgba(0, 149, 255, 0.7);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.Solar{
    background-color: rgba(253, 217, 13, 0.7);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.Diesel{
    background-color: rgba(139, 127, 0, 0.7);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

#windy {
    width: 100%;
    height: 300px;
}

#heatmap_Legend_Label0{
    font-family: "Poppins"
}

#heatmap_Legend_Label1{
    font-family: "Poppins"
}

#heatmap_Legend_Label2{
    font-family: "Poppins"
}

#heatmap_Legend_Label3{
    font-family: "Poppins"
}

#heatmap_Legend_Label4{
    font-family: "Poppins"
}


/* Large Screen */
@media screen and (min-width: 1124px) {
  #doughbut-card-body {
    height: auto; 
    display: flex;
    direction: row;
    justify-content: space-evenly;
  }
  .doughnut-charts{
    height: 300px;;
}
}

/* Medium Screen */
@media screen and (min-width: 576px) and (max-width: 1124px) {
  #doughbut-card-body {
    height: auto; /* Set the height to 1000px for screens up to 1124px wide */
    display: flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .doughnut-charts{
    height: 300px;
}
    .breakdownTable{
        width: 100%;
    }
}

/* Small Screen */
@media screen and (max-width: 576px) {
  #doughbut-card-body {
    height: auto; /* Set the height to 1000px for screens up to 1124px wide */
    display: flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .doughnut-charts{
    height: 300px;;
}
 .breakdownTable{
        width: 100%;
    }
}

