.helpers {
	display: flex;
	justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
}


.ch-domain-text {
	font-size: 16px;
}

.ch-subdomain-text {
	font-size: 16px;
}

text {
	font-size: 16px;
}

#ch-tooltip {
	font-size: 16px;
}

#cal, #calGreen {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#map{
    height: 90%;
    width: 100%;
    z-index: 0;
}

#map-card{
    min-width: 450px;
    min-height: 300px;
}
#apexBar{
   min-width: 1000px;
   display: flex;
   justify-content: center;
}

.xl{
    font-size: 48px;
}

#weatherDescWrapper{
    border-left: 2px #eb6e4b solid;
}
#weatherDescWrapper > p {
    margin-bottom: 0;
}

strong > p{
    margin-bottom: 0;
}

h5{
    font-weight: 700;
}

#map-card{
    min-width: 600px;
}